<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">CodeCouple Newsletter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<table width="100%" cellpadding="0" cellspacing="0" bgcolor="0095cc">
    <tr>
        <td height="50" align="center"><p style="font-size: small; color: white" th:text="${header}"></p></td>
    </tr>
    <tr bgcolor="ffffff">
        <td height="100" align="center"><h1 style="font-size: small; color: gray" th:text="${title}"></h1></td>
    </tr>
    <tr bgcolor="ffffff">
        <td height="100" align="center"><h1 style="font-size: small; color: gray" th:text="${ISBN}"></h1></td>
    </tr>
    <tr bgcolor="ffffff">
        <td height="100" align="center"><h3 style="font-size: large; color: gray"th:text="${author}"></h3></td>
    </tr>
    <tr>
        <td height="50" align="center" style="color: white; font-size: small"><p>Dziękujemy za zarejestrowanie książki</p></td>
    </tr>
</table>
</body>
</html>